.chats-group {
    &:last-child {
        margin-bottom: 20px;
    }

    .message-item-sliding:first-of-type {
        .message-container {
            margin-top: 0px;
        }
    }
}

.chats-group-divider {
    position: relative;
    background-color: #DDDDE9;
    z-index: 4;
    width: 120px;
    margin: auto;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    // remove paddings
    --padding-end: 0px;
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --ion-safe-area-left: 0px;
    --ion-safe-area-right: 0px;

    // on scrolling set sticky divider
    &.scrolling {
        position: sticky;
        top: 10px;
    }

    // center divider text
    ion-label {
        width: 100%;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
    }
}