.user-toolbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    --min-height: 43px;
    --padding-start: 0px;
    padding-left: 45px;
    padding-right: 90px;
}

ion-footer ion-toolbar {
    --background: #F6F6F6;
    background-color: #F6F6F6;

    ion-textarea {
        margin-top: 6px;
        margin-bottom: 6px;
        background-color: #fff;
        border-radius: 20px;
        --padding-start: 10px;
    }
}