<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        Change
      </ion-button>
    </ion-buttons>

    <ion-title>Chats</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="platformService.isAndroid">
    <ion-searchbar placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense" *ngIf="platformService.isIOS">
    <ion-toolbar>
      <ion-title size="large">Chats</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar placeholder="Search"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item button detail="false" *ngFor="let chat of chatsList" [routerLink]="['/chat-detail', chat.id]"
      routerdirection="forward">
      <ion-avatar slot="start" style="width: 52px;height:52px">
        <img [src]="chat.avatar">
      </ion-avatar>
      <ion-label>
        {{chat.first_name}} {{chat.last_name}}
        <small class="ion-float-right">
          <ion-text color="medium">17.10.2020</ion-text>
        </small>
        <p>
          <ion-text color="medium">
            {{chat.last_message}}
          </ion-text>
        </p>
        <p>&nbsp;</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>